/### ID rayon + txtPreHeader + $campaign
-$title     = "Gagnez 5€ sur l'Apéricoupe® !"
-$txtheader = "L'Apéricoupe au prix de 14.95€ au lieu de 19.95€ ! Profitez-en vite !"
-$mirorLink = "https://tempsl.com/Newsletters/miroir/#{$miror}/BEFR/index.htm"
/### do not change content link
-$url           ="https://www.ideal-pratique.be/befr/"
-$index         ="index.aspx"
-$srcmedium     =["?utm_source=NL&utm_medium=email","&utm_source=NL&utm_medium=email"]
-$content       =["&utm_content=","url","garantie","livraison","paiement","cgv","contact","desabo"]
/### do not change footer
-$haconfiance   =["achat_confiance/","garanties.aspx","informations-livraison.aspx","paiement-securise.aspx","conditions-generales-de-vente.aspx"]
/### do not change mentions
-$contactdesabo =["idealpractical_and_you/contact.aspx?val=A","animation/DesinscriptionNewsletter.aspx"]
/ compact
-rayon  = "boutique/rayon_evenement.aspx?urlLangue=fr&nbp=99&pg=0&evenement_id="
-urlRay = "#{$url}#{rayon}#{$IDray[:bf]}#{$srcmedium[1]}#{$content[0]}"
-pdt    = ["0", "#{$patPk[:bf]}#{$lib[:bf]}/#{$refPk}.html"]

/### content link ["logo", "accroche", "pdt", "prix", "bouton" ]
- $s0_logo         = "#{$url}#{$index}#{$srcmedium[0]}#{$content[0]}logo#{$campaign}"

- $s1c1_accroche      = "#{$url}#{pdt[1]}#{$srcmedium[0]}#{$content[0]}accroche#{$campaign}"
- $s1c2s1_accroche    = "#{$url}#{pdt[1]}#{$srcmedium[0]}#{$content[0]}accroche#{$campaign}"
- $s1c2s2_lib         = "#{$url}#{pdt[1]}#{$srcmedium[0]}#{$content[0]}accroche#{$campaign}"
- $s2c1_lib_ergo_lame = "#{$url}#{pdt[1]}#{$srcmedium[0]}#{$content[0]}pdt#{$campaign}"
- $s2c2_price         = "#{$url}#{pdt[1]}#{$srcmedium[0]}#{$content[0]}prix#{$campaign}"
- $s3c1_tvCpSsEf      = "#{$url}#{pdt[1]}#{$srcmedium[0]}#{$content[0]}pdt#{$campaign}"
- $s3c2s1_pk          = "#{$url}#{pdt[1]}#{$srcmedium[0]}#{$content[0]}pdt#{$campaign}"
- $s3c2s2_video       = "#{$url}#{pdt[1]}#{$srcmedium[0]}#{$content[0]}pdt#{$campaign}"
- $s4c1_pk            = "#{$url}#{pdt[1]}#{$srcmedium[0]}#{$content[0]}pdt#{$campaign}"
- $s4c2s1c1_thumb1    = "#{$url}#{pdt[1]}#{$srcmedium[0]}#{$content[0]}pdt#{$campaign}"
- $s4c2s1c3_thumb2    = "#{$url}#{pdt[1]}#{$srcmedium[0]}#{$content[0]}pdt#{$campaign}"
- $s4c2s1c5_thumb3    = "#{$url}#{pdt[1]}#{$srcmedium[0]}#{$content[0]}pdt#{$campaign}"
- $s4c2s3c1_thumb4    = "#{$url}#{pdt[1]}#{$srcmedium[0]}#{$content[0]}pdt#{$campaign}"
- $s4c2s3c3_thumb5    = "#{$url}#{pdt[1]}#{$srcmedium[0]}#{$content[0]}pdt#{$campaign}"
- $s4c2s3c5_thumb6    = "#{$url}#{pdt[1]}#{$srcmedium[0]}#{$content[0]}pdt#{$campaign}"
- $s4c3_pk            = "#{$url}#{pdt[1]}#{$srcmedium[0]}#{$content[0]}pdt#{$campaign}"
- $s5_pk              = "#{$url}#{pdt[1]}#{$srcmedium[0]}#{$content[0]}pdt#{$campaign}"
- $s6_btn             = "#{$url}#{pdt[1]}#{$srcmedium[0]}#{$content[0]}bouton#{$campaign}"

/ alt + title
- $alt_s1c1_accroche      = "LE PRIX DU MOIS"
- $alt_s1c2s1_accroche    = "IMBATTABLE !"
- $alt_s1c2s2_lib         = "Un nouvel allié pour toutes les coupes !"
- $alt_s2c1_lib_ergo_lame = "Apericoupe®, poignée ergonomique, lame acier inoxydable."
- $alt_s2c2_price         = "14.95€ au lieu de 19.95€ ! GAGNEZ 5€"
- $alt_s3c1_tvCpSsEf      = "Vu à la TV. Coupe sans effort."
- $alt_s3c2s1_pk          = ""
- $alt_s3c2s2_video       = "Voir la vidéo >"
- $alt_s4c1_pk            = ""
- $alt_s4c2s1c1_thumb1    = "Saucisson"
- $alt_s4c2s1c3_thumb2    = "Fromage"
- $alt_s4c2s1c5_thumb3    = "Pain"
- $alt_s4c2s3c1_thumb4    = "Légumes"
- $alt_s4c2s3c3_thumb5    = "Fruits"
- $alt_s4c2s3c5_thumb6    = "Œufs"
- $alt_s4c3_pk            = ""
- $alt_s5_pk              = ""

// changeVarName
- $alt_s6_btn = "Vite, c’est le moment d’en profiter !"
// don't change
- $alt_logo   = "IDEAL PRATIQUE"
